html,
body {
    background-color: rgba(33, 37, 41);
    overflow-x: hidden;
    cursor: default;
    user-select: none;
}

/* ASIDE STYLES */

.sidebar {
    width: 20vw;
    max-width: 300px;
    min-width: 150px;
    background-color: rgba(33, 37, 41, 0.95);
}

.nav-link {
    border-radius: 0.375rem !important;
}

.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1) !important;
}

/* MAIN CONTENT STYLES */

.card {
    min-width: 150px;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.025);
}

/* TABLE STYLES */

.table.rounded-table {
    border-radius: 0 0 0.3rem 0.3rem;
    overflow: hidden;
}

/* CHART STYLES */

.chart-card {
    min-width: 40%;
}

@media (max-width: 768px) {
    .chart-card {
        min-width: 50%;
    }
}

/* PULSE STYLES */

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    70% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

.pulse-animate {
    animation: pulse 0.75s infinite;
}

/* SPEED GAUGE STYLES */

.speed-gauge-wrapper {
    width: 160px;
    height: 80px;
}

.speed-gauge {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background: conic-gradient(
        from 270deg,
        var(--progress-colour) calc(var(--progress) * 180deg),
        rgba(0, 0, 0, 0.1) 0
    );
    clip-path: inset(0 0 50% 0);
}
